<div class="container-fluid">
    <nav class="navbar navbar-expand-lg" style="background-color: #f6871f;">
        <div class="container-fluid">
          <div><a class="navbar-brand" href="#" style="background-color: #f37b0a;">Enchanting Travels</a></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Admin</a>
              </li> -->
            </ul>
            <div class="d-flex" role="search">
              <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button> -->
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <div (click)="callAdmin()"><a class="nav-link mx-3" style="cursor: pointer; background-color: #f7bb84;">Admin</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>